# 08 - Time Series Basics

Work with time-indexed data for reporting and monitoring.

## 1. Create a daily bookings series

In [1]:
import pandas as pd
import numpy as np

rng = np.random.default_rng(7)
bookings = pd.DataFrame({
    'date': pd.date_range('2026-01-01', periods=60, freq='D'),
    'bookings': rng.integers(20, 80, size=60),
})
bookings['revenue'] = bookings['bookings'] * rng.integers(80, 140, size=60)

bookings.head()

        date  bookings  revenue
0 2026-01-01        76     7220
1 2026-01-02        57     6213
2 2026-01-03        61     6222
3 2026-01-04        73     6862
4 2026-01-05        54     7506

## 2. Rolling averages

In [ ]:
bookings['bookings_7d_avg'] = bookings['bookings'].rolling(window=7).mean()
bookings[['date', 'bookings', 'bookings_7d_avg']].tail(10)

## 3. Weekly resampling

In [ ]:
weekly = bookings.set_index('date').resample('W')[['bookings', 'revenue']].sum()
weekly.head()

## 4. Lag features for forecasting

In [2]:
bookings['bookings_lag_7'] = bookings['bookings'].shift(7)
bookings['revenue_lag_7'] = bookings['revenue'].shift(7)
bookings.tail(10)

         date  bookings  revenue  bookings_lag_7  revenue_lag_7
50 2026-02-20        28     2604            29.0         3335.0
51 2026-02-21        50     4450            71.0         6106.0
52 2026-02-22        78     7956            56.0         4648.0
53 2026-02-23        47     6016            26.0         3094.0
54 2026-02-24        68     7072            22.0         2266.0
55 2026-02-25        75     7650            46.0         5290.0
56 2026-02-26        69     7866            22.0         2178.0
57 2026-02-27        57     7866            28.0         2604.0
58 2026-02-28        46     4738            50.0         4450.0
59 2026-03-01        50     5750            78.0         7956.0

## 5. Growth rates

In [3]:
bookings['weekly_growth'] = weekly['bookings'].pct_change().reset_index(drop=True)
bookings[['date', 'weekly_growth']].tail(10)

NameError: name 'weekly' is not defined

## Next Steps

Continue your learning with:
- **10_sql_analytics.ipynb** - SQL patterns with Python